In [1]:
import numpy as np
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,32,93,39]))
demo_matrix[2,3]

39

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [4]:
pd.concat(s1, s2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [5]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [6]:
pd.concat[s1, s2]

TypeError: 'function' object is not subscriptable

In [7]:
pd.concat([s1+ s2])

0    ac
1    bd
dtype: object

In [8]:
demo_array = np.arange(10,17)
demo_array [:]= 101
demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [9]:
score = [10, 15, 20, 25]
pd.Series(data=score, index = ['a','b','c','d'])

a    10
b    15
c    20
d    25
dtype: int64

In [10]:
import pandas
import seaborn as sns
data=sns.load_dataset('tips')

In [11]:
pandas.pivot_table(data=data, values='day', index='sex', columns='total_bill', aggfunc='mean')

DataError: No numeric types to aggregate

In [12]:
pandas.pivot_table(data=data, values='total_bill', index='sex', columns='day', aggfunc='mean')

day          Thur        Fri        Sat        Sun
sex
Male    18.714667  19.857000  20.802542  21.887241
Female  16.715312  14.145556  19.680357  19.872222

In [13]:
pandas.pivot_table(data=data, values='total_bill', index='day', columns='sex', aggfunc='mean')

sex        Male     Female
day
Thur  18.714667  16.715312
Fri   19.857000  14.145556
Sat   20.802542  19.680357
Sun   21.887241  19.872222